		<div class="cf">
			<label>card number
				<span class="small">valid credit card number</span>
			</label>
			<input type="text" pattern="[0-9]*" minlength="15" maxlength="15" autocomplete="off"/>
		</div>
		<div class="cf">
			<label>month year
				<span class="small">expiration period</span>
			</label>
			<input type="month" autocomplete="off"/>
		</div>
		<div class="cf">
			<label>first name
				<span class="small">card holders first name</span>
			</label>
			<input type="text" autocomplete="off"/>
		</div>
		<div class="cf">
			<label>last name
				<span class="small">card holders last name</span>
			</label>
			<input type="text"/>
		</div>
		<div class="cf">
			<label>verification value
				<span class="small"><a href="http://en.wikipedia.org/wiki/Card_security_code#Location_of_code" target="_blank">cant find it?</a></span>
			</label>
			<input type="text" pattern="[0-9]*" minlength="5" maxlength="5" autocomplete="off"/>
		</div>