<%= projects.count %>
<ul class="sidelisting">
	<ul class="sub">
		<li class="tall"><div class="blank"/></li> 
		<li class="small"><div class="blank"/></li>
	</ul>
	<ul class="sub">
		<li class="small"><div class="blank"/></li>
		<li class="tall"><div class="blank"/></li>
	</ul>
	<ul class="sub">
		<li class="tall"><div class="blank"/></li>
		<li class="small"><div class="blank"/></li>
	</ul>
</ul>