<div id="bio">
	<div class="picture blue"><%= image_tag @member.avatar.url(:medium) %></div>
	<div id="name" class="padd"><%= @member.username %></div>
	<div><a href="#">mollases.com</a></div>
	<div><a href="#">@mollases_</a></div>
	<div><a href="#">facebook page</a></div>
	<div><% if @member.bio %> <%= @member.bio %> <% end %></div>
</div>