	<div class="picture blue">
		
	</div>
	<div id="name" class="padd"><%= @member.username %></div>
	<div><a href="#">personal website</a></div>
	<div><a href="#">twiiter handle</a></div>
	<div><a href="#">facebook page</a></div>
	<div><% if @member.bio %> <%= @member.bio %> <% end %></div>