	<div class="picture blue">
		
	</div>
	<div id="name" class="padd">
			<%= link_to @member.username, @member %></div>
	<div> <a href="#">1</a></div>
	<div> <a href="#">2</a></div>
	<div> <a href="#">3</a></div>
	<% if @member.bio %> <%= @member.bio %> <% end %></div>