
			<div id="gallery">
				<ul class="sidelisting">
					<ul class="sub">
						<li class="tall"><div class="blank"/></li> 
						<li class="small"><div class="blank"/></li>
					</ul>
					<ul class="sub">
						<li class="small"><div class="blank"/></li>
						<li class="tall"><div class="blank"/></li>
					</ul>
					<ul class="sub">
						<li class="tall"><div class="blank"/></li>
						<li class="small"><div class="blank"/></li>
					</ul>
				</ul>
			</div>


			
			<div id="selector">
				<div class="bigBlue"><%= link_to 'Create a new project?', new_project_path %></div>
				<div class="categories padd">Categories:
					<ul class="catlist padd">
						<% @categories.each do |category| %>
						<li><%= link_to category.title, category %></li>
						<% end %>
					</ul>
				</div>
			</div>