/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	font-family: Verdana, Arial, sans-serif;
	background: #F5F8FC;
	padding: 0 2em;
	display: block;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
	color:black;
}

a{
	text-decoration: none;
	color: #5BA7E4;
	
	&:hover{
		color:#E2A915;
	}
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	outline: 0;
}

form{
	width: 80%;
}

.padd{
	padding: 15px;
}

.centerized{
	margin: 0 auto;
}

.blue{
	color: white;
	background: #5BA7E4;
}

#page{
	width: 1150px;
	background: white;
	margin: 2em auto;
}

#header{
	height: 100px;
}

#header .logo{
	font-variant: small-caps;
	font-size: 3em;
	text-align: center;
	color: rgb(90, 162, 0);
}

#footer{
	border-top: 2px solid rgb(162, 90, 0);
	background: #e8e8e8;
	min-height: 150px;
}

.cf:after {
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:" ";
	font-size:0;
}

#left-footer-bar {
	float: left;
}

#center-right-footer-bar{
	float:right;
}

#center-footer-bar{
	float:left;
}

#right-footer-bar{
	float: right;
}

.footer-bar {
	border-left: 20px solid #E8E8E8;
	border-right: 20px solid #E8E8E8;
	background: gray;
	width: 295px;
/* 	padding-left: 20px; */
/* 	padding-right: 20px; */
	min-height: 10px;
}
/* -------------- -------------- -------------- -------------- -------------- -------------- -------------- -------------- */
/* -------------- -------------- -------------- -----index---- -------------- -------------- -------------- -------------- */
/* -------------- -------------- -------------- -------------- -------------- -------------- -------------- -------------- */

.bigBlue {
	padding:15px;
	background: #5BA7E4;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

a.bigBlue:hover {
	background:#E2A915;
	color: white;
}

.selector .categories{
	border-top: 2px solid rgb(162, 90, 0);
}

.catlist{
	max-height: 237px;
	overflow-y: auto;
	padding-top: 5px;
}

.catlist li{
	padding:3px;	
}