// Place all the styles related to the gallery here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery{

	ul.sidelisting{
	width: 80%;

		ul.sub{
			float: left;

			li.small,li.tall{
				width: 275px;
				background: #dddddd;
				margin: 5px;
				padding: 5px;
				margin-bottom: 45px;
   			
   			transition: background .25s ease-in-out;
   			-moz-transition: background .25s ease-in-out;
   			-webkit-transition: background .25s ease-in-out;

   			&:hover{
   				background:white;
   			}

				.taken,.blank{
					background: #f1f1f1;
					height: 250px;
					width: 250px;
					margin: 5px;
					padding: 5px;
					margin-left: 7px;
				}
				.blank{
   				transition: background .25s ease-in-out;
   				-moz-transition: background .25s ease-in-out;
   				-webkit-transition: background .25s ease-in-out;
				}

				.blank:hover{
					background: black;
				}

				.listing_detail{
					margin-left: 12px;
				}
			}

			li.small{
				height: 350px;
			}

			li.tall{
				height: 450px;
			}
		}
	}

	.selector{
		float: right;

		div{
			display: block;
				padding-top: 15px;
				padding-bottom:20px;
				margin: 5px;
				min-width: 170px;
		
			a.bigBlue_selector {
				padding:15px;
				background: #5BA7E4;
				margin-bottom: 30px;
				text-align: center;
				color: white;

				&:hover{
					background:#E2A915;
				}
			}
		}
	}
}