// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Verdana, Arial, sans-serif;
	background: #F5F8FC;
	padding: 0 2em;
	display: block;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
	color:black;
}

a{
	text-decoration: none;
	color: #5BA7E4;
	
	&:hover{
		color:#E2A915;
	}
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	outline: 0;
}

.padd{
	padding: 15px;
}

.centerized{
	margin: 0 auto;
}

.blue{
	color: white;
	background: #5BA7E4;
}

#page{
	width: 1150px;
	background: white;
	margin: 2em auto;
}

#header{
	height: 100px;

	.logo{
		font-variant: small-caps;
		font-size: 3em;
		text-align: center;
		color: rgb(90, 162, 0);
	}
}

#footer{
	border-top: 2px solid rgb(162, 90, 0);
	background: #e8e8e8;
	min-height: 150px;
}

.cf:after {
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:" ";
	font-size:0;
}

#left-footer-bar {
	float: left;
}

#center-right-footer-bar{
	float:right;
}

#center-footer-bar{
	float:left;
}

#right-footer-bar{
	float: right;
}

.footer-bar {
	border-left: 20px solid #E8E8E8;
	border-right: 20px solid #E8E8E8;
	background: gray;
	width: 303px;
/* 	padding-left: 20px; */
/* 	padding-right: 20px; */
	min-height: 10px;
}
/* -------------- -------------- -------------- -------------- -------------- -------------- -------------- -------------- */
/* -------------- -------------- -------------- -----index---- -------------- -------------- -------------- -------------- */
/* -------------- -------------- -------------- -------------- -------------- -------------- -------------- -------------- */

.bigBlue {
	padding:15px;
	background: #5BA7E4;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

a .bigBlue:hover {
	background:#E2A915;
	color: white;
}

.selector .categories{
	border-top: 2px solid rgb(162, 90, 0);
}

.catlist{
	max-height: 237px;
	overflow-y: auto;
	padding-top: 5px;

	li{
		padding:3px;	
	}
}

#main{

	#notice{
		color:#579c70;
	}
	
	.flash{
		color: #e95526;
		text-align: center;
		margin: 0 auto;
		font-size: .9em;
		background: white;
	}
}